.background {
  background-image:url(/home/balltti/Documents/CV/Images/Background.jpeg);
  background-size: 100%;
}
.styleNoneCoordonnees{
  text-align: center;
  padding-bottom: 20px;
}
.styleNone{
  list-style: none;
}
.Competences{
  background: #14CD33;
  border: 1px solid black;
  padding-top: 5%;
  margin-bottom: 10%;
}
.ExperiencesProfessionnelles{
  background: #14CD33;
  border: 1px solid black;
  padding-top: 5%;
  margin-bottom: 10%;
}
.Loisir{
  background: #14CD33;
  border: 1px solid black;
  padding-top: 5%;
  margin-bottom: 10%;
}
.Formation{
  text-align: center;
  background: #14CD33;
  border: 1px solid black;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 10%;
}
.StyleFormation{
  padding-bottom: 80%;
}
