#backgroundHeader{
  box-shadow: 6px 6px 6px;
  background: rgba(152, 173, 202, 1);
  // background: rgba(46, 92, 240, 1);
  border: 1px solid black;
  font-family: 'Signika', sans-serif;
  padding-top: 35px;
}

#name{
  font-size: 1.8em;
}

 #job{
  font-size: 2.6em;
}

.background {
  background-image:url(../images/Background.png);

  font-family: 'Signika', sans-serif;
  margin:0;
  padding:0;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

.space {
  margin-bottom: 30px;
}

.titleSkills {
  text-align: center;
  margin-left: 40px;
  padding-bottom: 30px;
}

.title {
  text-align: center;
  padding-bottom: 30px;
}

.alignButton {
  text-align: center;
}

.styleNoneCoordonnees{
  text-align: center;
  padding-bottom: 20px;
}

.styleNoneCoordonnees2{
  text-align: center;
  padding-top: 20px;
  font-size: 1.2em;
}



.styleNone{
  list-style: none;
}

.skills{
  style: none;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid black;
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 20px;
  border-radius: 10px;
}


.textCenter{
  text-align: center;
}

.styleBox{
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid black;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.network{
  width: 100px;
  height: 100px;
}
